<%= form_for token, url: token.persisted? ? token_path(token) : tokens_path do |f| %>

    <div>
      <p><strong>API Token:</strong></p>
      <p id="show_token"><%= token.secret_key if token %></p>
    </div>

    <%= f.hidden_field :secret_key %>
    <%= f.hidden_field :temporary %>
    <%= f.hidden_field :app_id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
  $('form').bind('ajax:complete', function(){
    $('#show_token').replaceWith(result.responseText);
  });
</script>