<%= form_for(token) do |f| %>
  <% if token.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(token.errors.count, "error") %> prohibited this token from being saved:</h2>

      <ul>
      <% token.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :secret_key %>
    <%= f.text_field :secret_key %>
  </div>

  <div class="field">
    <%= f.label :temporary %>
    <%= f.check_box :temporary %>
  </div>

  <div class="field">
    <%= f.label :app_id %>
    <%= f.text_field :app_id %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
