<p id="notice"><%= notice %></p>

<p>
  <strong>Secret key:</strong>
  <%= @token.secret_key %>
</p>

<p>
  <strong>Temporary:</strong>
  <%= @token.temporary %>
</p>

<p>
  <strong>App:</strong>
  <%= @token.app %>
</p>

<p>
  <strong>User:</strong>
  <%= @token.user %>
</p>

<%= link_to 'Edit', edit_token_path(@token) %> |
<%= link_to 'Back', tokens_path %>
