<% if token.persisted? %>
	<div>
		<p><strong>API Token:</strong></p>
		<p id="show_token"><%= token.secret_key if token %></p>
	</div>
	<div>
		<p>
			<%= link_to t('helpers.submit.update', Token), token_path(token), remote: true, method: :put %> |
			<%= link_to t('helpers.destroy'), token, method: :delete, data: { confirm: 'Are you sure?' } %>
		<p>
	</div>
<% else %>
	<div>
		<p><strong>API Token:</strong></p>
		<p id="show_token"><%= t('helpers.not_token') %></p>
	</div>
	<div>
		<p><%= link_to t('helpers.submit.create', model: 'Token'), tokens_path(token: token.attributes),
								remote: true,
								method: :post,
								id: 'create_token' %><p>
	</div>
<% end %>

<script>
  $('#create_token').bind('ajax:complete', function(){
	  $('#show_token').replaceWith(result.responseText);
	});
</script>