<p id="notice"><%= notice %></p>

<h1><%= App.model_name.human(count: 2) %></h1>

<table>
  <thead>
    <tr>
      <th><%= App.human_attribute_name(:name) %></th>
      <th><%= App.human_attribute_name(:description) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @apps.each do |app| %>
      <tr>
        <td><%= app.name %></td>
        <td><%= app.description %></td>
        <td><%= link_to t('helpers.edit'), edit_admin_app_path(app) %></td>
        <td><%= link_to t('helpers.destroy'), admin_app_path(app), method: :delete, data: { confirm: t('helpers.confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('helpers.new_f'), new_admin_app_path %>
